:root{
  --main-bg-color: #f8f9fa;
  --main-text-color: #325fbe;
  --accent-color:lightseagreen; 
}

body {
  background-color: var(--main-bg-color); 
}

.navbar {
  border-bottom: var(--accent-color) solid 2px; 
}
.navbar-nav .active>.nav-link {
  padding: 5px 25px;
}

.navbar-nav .active>.nav-link:hover {
 transition: 0.30.5s; 
 background-color: var(--accent-color);
 color: white;
 border-radius: 20px 20px 20px 20px;
}

hr {
  background-color:var(--accent-color);
  height: 4px;
}

.jumbotron {
  background-color: var(--main-bg-color); 
  padding-top: 20px;
  padding-bottom: 20px;
}

#me {
  margin-right: 50px;
}
.card-group {
  padding: 5px;
  margin: 10px;
}

.card-group>.card+ .card, .card-group>.card{
  border-left: 1px grey solid;
  border-radius: 5px; 
}

.card {
  margin: 10px;
  border: 1px grey solid; 
  border-radius: 5px !important;
  opacity: 1;
}

.card:hover {
  opacity: .5;
}

.card-title {
  color: var(--accent-color);
  text-align: center;
}

.card-body{
  height: 100px;
  color: var(--main-text-color);
}

.card-img-top{
  height: 250px;
}

#contactForm {
  width: 400px; 
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
}

label {
  display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


input, textarea{
  width: 100%;
  border: 1px grey solid; 
  border-radius: 5px; 
}

#submit { 
  background-color: transparent; 
  border: none; 
}
#submit:hover, #submit:focus {
  transition: 0.3s;
  background-color: var(--accent-color);
  color: white;
  border-radius: 10px 10px 10px 10px;
  outline: var(--accent-color);
}

    .bottom {
      left: 0;
      bottom: 0;
      height:50px;
      width: 100%;
      background-color: var(--accent-color);
      color: white;
      text-align: center;
    }
 .bottom > p {
   margin-bottom: 0;
 }


	.btn-linkedin, .btn-github, .btn-resume {
    background-color: transparent; 
    border: none; 
    color: white;
    padding: 5px 5px 5px 5px;
    margin-top: 8px;
  }
  
  .btn-linkedin:hover, .btn-github:hover, .btn-resume:hover{
    transition: 0.3s;
    background-color: var(--main-bg-color);
    color: black;
    border-radius: 10px 10px 10px 10px;
  }

  .btn-linkedin:focus, .btn-github:focus, .btn-resume:focus{
    transition: 0.3s;
    background-color: var(--main-bg-color);
    color: black;
    border-radius: 10px 10px 10px 10px;
   box-shadow: 0 0 0 0;
  }

